BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Allman
SortIncludes: false
DerivePointerAlignment: false
PointerAlignment: Left # Options: Left, Right, Middle
